/** === This EPUB was prepared by Lumina Datamatics based on Macmillan Learning Flat Accessible ePub Specification version 2.1. ===*/
/* ----- Body ----- */
body
{
 max-width: 700px;
 margin: auto;
 padding: 35px;
 border-width:0;
 -epub-hyphens:auto;
 font-family: "MyriadPro", sans-serif;
}

.hidden {
position: absolute !important;
height: 1px; width: 1px; 
overflow: hidden;
clip: rect(1px 1px 1px 1px); /* IE6, IE7 */  
clip: rect(1px, 1px, 1px, 1px);
}

/* ----- Paragraphs ----- */
p
{
margin:0.2em 0em 0em 0em;
text-indent: 0em;
text-align: left;
}

.colwidth10 {width:10%;}
.colwidth11 {width:11%;}
.colwidth12 {width:12%;}
.colwidth13 {width:13%;}
.colwidth15 {width:15%;}
.colwidth16 {width:16%;}
.colwidth20 {width:20%;}
.colwidth30 {width:30%;}
.colwidth40 {width:40%;}
.colwidth50 {width:50%;}
.colwidth60 {width:60%;}
.colwidth70 {width:70%;}
.colwidth80 {width:80%;}
.colwidth15 {width:15%;}
.colwidth25 {width:25%;}
.colwidth70 {width:70%;}

/* -- Figure -- */
figure
{
margin: 1em 0em 1em 0em;
text-align: center;
page-break-inside: avoid;
}
div.figure1
{
background-color: #e7e7e8;
margin:0.5em 1em 1em 1em;
padding:0.5em 1em 1em 1em;
}
img
{
max-width: 100%;
max-height: 100%;
}
.image
{
margin:1em 0em 1em 0em;
text-indent: 0em;
text-align:center;
line-height:1.2em;
}
.cover
{
margin-top: 0em;
margin-bottom: 0em;
padding: 0em;
}
figure.ch-image
{
text-indent: 0em;
margin:0em 0em 0em 0em;
padding:0em 0em 0em 0em;
text-align: center;
width:100%;
}
.image100
{
width: 100%;
}
.image90
{
width: 90%;
margin-left:5%;
}
.image5a
{
width: 5%;
vertical-align:middle;
}
.image80
{
width: 80%;
margin-left:10%;
}
.image70
{
width: 70%;
margin-left:15%;
}
.image60
{
width: 60%;
margin-left:20%;
}
.image50
{
width: 50%;
margin-left:25%;
}
.image40
{
width: 40%;
margin-left:30%;
}
.image30
{
width: 30%;
margin-left:35%;
}
.image20
{
width: 20%;
margin-left:40%;
}
.image8
{
width: 8%;
}
.image5
{
width: 5%;
}
.image2
{
width: 2%;
}
.image3
{
width: 3%;
vertical-align:bottom;
}
.FG-CAP
{
font-family: "MyriadPro-Bold", sans-serif;
line-height:1.2em;
font-weight:bold;
}
.credit
{
margin:0em 0em 0.2em 0em;
text-indent: 0em;
text-align: left;
font-size:0.8em;
font-family: "Times New Roman", serif;
line-height:1.2em;
}
.figcaption
{
margin:1.0em 0em 0.5em 0em;
text-indent: 0em;
text-align: left;
font-size:0.9em;
font-family: "MyriadPro-Regular", sans-serif;
line-height:1.3em;
}
.figcaption1
{
margin:1.0em 0em 0.5em 0em;
text-indent: 0em;
text-align: left;
font-size:0.9em;
font-family: "Times New Roman", serif;
line-height:1.3em;
}

/* ----- Headings ----- */
.Chap_no
{
margin: 0em 0em 0em 0em;
padding: 0em 0em 0em 0em;
text-indent: 0em;
}
.CH
{
margin: 0em 0em 3em 0em;
padding: 0em 0em 0em 0em;
text-indent: 0em;
font-family: "MyriadPro-Semibold", sans-serif;
font-weight:bold;
font-size: 1.8em;
}
.CH1
{
margin: 1.5em 0em 0.5em 0em;
padding: 0em 0em 0em 0em;
text-indent: 0em;
font-family: "MyriadPro-Semibold", sans-serif;
font-weight:bold;
font-size: 1.3em;
}
.H2
{
margin: 1em 0em 0.5em 0em;
padding: 0.1em 0em 0.1em 0em;
font-size: 1.1em;
text-indent: 0em;
text-align: left;
font-family: "MyriadPro-Bold", sans-serif;
}
.H3
{
margin: 1em 0em 0.8em 0em;
padding: 0.1em 0em 0.1em 0em;
font-size: 1em;
text-indent: 0em;
text-align: left;
font-family: "MyriadPro-Bold", sans-serif;
}
.H4
{
margin: 1em 0em 0.2em 0em;
padding: 0.1em 0em 0.1em 0em;
font-size: 1em;
text-indent: 0em;
text-align: left;
font-family: Univers-BoldOblique, sans-serif;
font-weight:bold;
font-style:italic;
}
.indent
{
margin:0.2em 0em 0em 0em;
text-indent: 1.5em;
text-align: left;
}
.indent1
{
margin:0.2em 0em 0em 2em;
text-indent: 1.5em;
text-align: left;
}

.indent-top
{
margin:1em 0em 0em 0em;
text-indent: 1.5em;
text-align: left;
}
.noindent
{
margin:0.3em 0em 0em 0em;
text-indent: 0em;
text-align: left;
}
.fm_noindent
{
margin:0.3em 0em 0em 1em;
text-indent: -1em;
text-align: left;
font-size:0.9em;
}
.pullquote
{
margin:1em 0em 0em 0em;
text-indent: 0em;
text-align: left;
}
.bx_noindent
{
margin:1em 0em 0em 0em;
text-indent: 0em;
text-align: left;
}
.noindent1
{
margin:0.2em 0em 0em 2em;
text-indent: 0em;
text-align: left;
}
.noindent-top
{
margin:1em 0em 0em 0em;
text-indent: 0em;
text-align: left;
}

/* --- equations ----*/

div.EQ,span.EQ-inline {
text-indent: 0em;
padding:2px;
border:1px solid red;
}
.EQ
{
margin:0.5em 0em 0.5em 0em;
text-indent: 0em;
text-align:center;
font-size: 1em;
line-height:1.2em;
}
.EQ1
{
margin:0.5em 0em 1.5em 0em;
text-indent: 0em;
text-align:center;
font-size: 1em;
line-height:1.2em;
}

.label
{
float:right;
margin:-2.1em .5em 0 0;
padding:.2em 0.5em .2em .5em;
}
/* --- Table ----*/
table
{
margin: 1em 0 1em 0;
width: 100%;
border-collapse:collapse;
}
caption
{
font-family: "Times New Roman", serif;
text-align:left;
padding:0em;
font-weight:bold;
}
td
{
padding: .2em;
}
.Table1
{
margin: 1em 0 1em 0;
width: 100%;
border-collapse:collapse;
border-bottom:1px solid;
border-top:1px solid;
}
.Table1 td.center
{
padding: 0.2em;
text-align:center;
}
.Table1 th
{
padding: 0.2em;
border-bottom:1px solid;
font-weight:normal;
}
th.tab_left
{
text-align:left;
}
/*---- List -----*/
ol.none
{
list-style-type: none;
margin: 0em 0em 0em 1em;
padding: 0em 0em 0em 0em;
text-indent:0em;
text-align: left;
}
ol.none li
{
margin: 0.3em 0em 0em 0em;
padding: 0em 0em 0em 0em;
text-indent: 0em;
font-size: 1em;
font-family: "Times New Roman", serif;
}
ol.none1
{
list-style-type: none;
margin: 0em 0em 0em 0em;
padding: 0em 0em 0em 0em;
text-indent:0em;
text-align: left;
}
ol.none1 li
{
margin: 0.3em 0em 0em 0em;
padding: 0em 0em 0em 0em;
text-indent: 0em;
font-size: 1em;
font-family: "Times New Roman", serif;
}
ul.bullet
{
list-style-type: disc;
margin: 0.5em 0em 0em 1em;
padding: 0em 0em 0em 0em;
text-indent:0em;
text-align: left;
}
ul.bullet li
{
margin: 0.3em 0em 0em 0em;
padding: 0em 0em 0em 0em;
text-indent: 0em;
font-size: 1em;
}
ul.none
{
list-style-type: none;
margin: 0em 0em 0em 1em;
padding: 0em 0em 0em 0em;
text-indent:0em;
text-align: left;
}
ul.none li
{
margin: 0.3em 0em 0em 0em;
padding: 0em 0em 0em 0em;
text-indent: 0em;
font-size: 1em;
font-family: Times-Roman, serif;
}
ol.lower-alpha
{
list-style-type: lower-alpha;
margin: 0em 0em 0em 1em;
padding: 0em 0em 0em 0em;
text-indent:0em;
text-align: left;
}
ol.lower-alpha li
{
margin: 0.3em 0em 0em 0em;
padding: 0em 0em 0em 0em;
text-indent: 0em;
font-size: 1em;
font-family: "Times New Roman", serif;
}
span.bold
{
font-weight:bold;
}
span.italic
{
font-style:italic;
}
.titlepage
{
margin: 0.5em 0em 0em 0em;
padding: 0em 0em 0em 0em;
font-size: 2.5em;
text-indent: 0em;
text-align: left;
font-family: "MyriadPro-Semibold", sans-serif;
font-weight:normal;
}
.subtitle
{
margin: 0em 0em 0em 0em;
padding: 0em 0em 0em 0em;
font-size: 5.5em;
text-indent: 0em;
text-align: left;
font-family: "ElectraLH-Display", serif;
font-weight:normal;
}
.edition
{
margin: 1em 0em 0em 0em;
padding: 0em 0em 0em 0em;
font-size: 1.2em;
text-indent: 0em;
text-align: left;
font-family: "MyriadPro-Regular", sans-serif;
font-weight:normal;
font-style:italic;
}
.author
{
margin: 2.5em 0em 0em 0em;
padding: 0em 0em 0em 0em;
font-size: 1em;
text-indent: 0em;
text-align: left;
font-family: "MyriadPro-Regular", sans-serif;
font-weight:bold;
}
.aff
{
margin: 0em 0em 0em 0em;
padding: 0em 0em 0em 0em;
font-size: 0.9em;
text-indent: 0em;
text-align: left;
font-family: "MyriadPro-Regular", sans-serif;
font-weight:normal;
font-style:italic;
}
.logo
{
margin: 10em 0em 0em 0em;
padding: 0em 0em 0em 0em;
text-align: left;
}
.ded
{
margin: 1em 0em 1em 0em;
padding: 0.5em 0em 0.5em 0em;
font-size: 1.2em;
text-indent: 0em;
text-align: center;
}
.copy1
{
margin: 0em 0em 0em 0em;
padding: 0em 0em 0em 0em;
font-size: 0.9em;
text-indent: 0em;
text-align: left;
font-family: "MyriadPro-Regular", sans-serif;
font-weight:normal;
}
.copy
{
margin: 1.5em 0em 0.5em 0em;
padding: 0em 0em 0em 0em;
font-size: 0.9em;
text-indent: 0em;
text-align: left;
font-family: "MyriadPro-Regular", sans-serif;
font-weight:normal;
}
.copy2
{
margin: 1.5em 0em 0em 0em;
padding: 0em 0em 0em 0em;
font-size: 0.9em;
text-indent: 0em;
text-align: left;
font-family: "MyriadPro-Regular", sans-serif;
font-weight:normal;
}
.copy1a
{
margin: 0.5em 0em 0em 0em;
padding: 0em 0em 0em 0em;
font-size: 0.9em;
text-indent: 0em;
text-align: left;
font-family: "MyriadPro-Regular", sans-serif;
font-weight:normal;
}
.FM_Head1
{
margin: 0.5em 0em 0em 0em;
padding: 0em 0em 0em 0em;
font-size: 0.9em;
text-indent: 0em;
text-align: left;
font-family: "MyriadPro-Regular", sans-serif;
font-weight:normal;
}
.FM_Head
{
margin: 0.5em 0em 3em 0em;
padding: 0em 0em 0em 0em;
font-size: 2em;
text-indent: 0em;
text-align: left;
font-family: "ElectraLH-Display", serif;
font-weight:normal;
}
.right
{
margin:0em 0em 0em 0em;
padding:0em 0em 0em 0em;
text-indent: 0em;
text-align:right;
font-size: 1em;
}
.rightB
{
margin:1em 0em 0em 0em;
padding:0em 0em 0em 0em;
text-indent: 0em;
text-align:right;
color: #58585a;
font-family: "MyriadPro-Semibold", sans-serif;
}
.FM_Head1
{
margin: 1em 0em 0.5em 0em;
padding: 0em 0em 0em 0em;
font-size: 1em;
text-indent: 0em;
text-align: left;
font-family: "Univers", sans-serif;
font-weight:bold;
}
ol li.toc1
{
margin: 0.5em 0em 0.5em 0em;
padding: 0.3em 0em 0.3em 0em;
font-size: 1.1em;
text-indent: 0em;
text-align: left;
font-family: "ElectraLH-BoldDisplay", serif;
font-weight:normal;
}
ol li.toc2
{
margin: 0em 0em 0em 0em;
padding: 0.3em 0em 0.3em 0em;
font-size: 1em;
text-indent: 0em;
text-align: left;
font-weight:normal;
}
ol li.toc2a
{
margin: 0em 0em 0em 0.5em;
padding: 0.3em 0em 0.3em 0em;
font-size: 1em;
text-indent: 0em;
text-align: left;
font-weight:normal;
}
ol li.toc3
{
margin: 0em 0em 0em 0.5em;
padding: 0.3em 0em 0.3em 0em;
font-size: 1em;
text-indent: 0em;
text-align: left;
font-weight:normal;
}
ol li.toc3a
{
margin: 0em 0em 0em 1.2em;
padding: 0.3em 0em 0.3em 0em;
font-size: 1em;
text-indent: 0em;
text-align: left;
font-weight:normal;
}
ol.biblioentrylist
{
list-style-type: decimal;
margin: 0em 0em 0em 1em;
padding: 0em 0em 0em 0em;
text-indent:0em;
text-align: left;
}
ul.I-1
{
list-style-type: none;
margin: 1em 0em 0em 1em;
padding: 0em 0em 0em 0em;
text-indent:0em;
text-align: left;
font-size: 0.9em;
font-weight: normal;
font-family: CelesteOT, serif;
}
ul.I-1 li
{
margin: 0em 0em 0em 0em;
padding: 0.1em 0em 0em 0em;
text-indent: -1em;
text-align: left;
}
ul.I-1 li ul.I-2
{
list-style-type: none;
margin: 0em 0em 0em 0em;
padding: 0;
text-indent:0em;
text-align: left;
}
ul.I-1 li ul.I-2 li
{
margin: 0em 0em 0em 0em;
padding: 0.1em 0em 0em 1em;
text-indent: -1em;
text-align: left;
}
ul.I-1 li ul.I-2 li ul.I-3
{
list-style-type: none;
margin: 0em 0em 0em 0em;
padding: 0;
text-indent:0em;
text-align: left;
}
ul.I-1 li ul.I-2 li ul.I-3 li
{
margin: 0em 0em 0em 0em;
padding: 0.1em 0em 0em 1em;
text-indent: -1em;
text-align: left;
}

aside.box1{
margin:1em 0em 1em 0em;
padding:0.8em 0.8em 0.8em 0.8em;
border:1px solid #808080;
border-radius: 15px 15px 15px 15px;
font-family: "MyriadPro-Regular", sans-serif;
}
aside.box2{
margin:1em 0em 1em 0em;
padding:0.8em 0.8em 0.8em 0em;
border-radius: 15px 15px 15px 15px;
}
.bx-head
{
margin: 0.5em 0em 0.8em 0em;
padding: 0.1em 0em 0.1em 0em;
font-size: 1em;
text-indent: 0em;
text-align: left;
font-weight:bold;
}
ol.NL
{
list-style-type: none;
margin: 0.5em 0em 0.5em 0em;
padding: 0em 0em 0em 1.5em;
text-indent:0em;
text-align: left;
}
ol.NL li
{
margin: 0.3em 0em 0em 0em;
padding: 0em 0em 0em 0em;
text-indent: 0em;
font-size: 1em;
font-family: "Times New Roman", serif;
}

.aut1
{
margin: 7em 0em 0em 0em;
padding: 0em 0em 0em 0em;
font-size: 0.9em;
text-indent: 0em;
text-align: left;
font-weight:normal;
font-family: "Times New Roman", serif;
}

span.space{
margin: 0 0em 0 10em;
}

span.space1{
margin: 0 0em 0 1em;
}

ol.toc_none{
margin:0;
padding:0em 0.5em 0em 0em;
text-align: left;
text-indent: 0em;
list-style-type: none;

}
ol.toc_none li.toc1{
margin:0em 0 0 0em;
padding:0em;
font-size:0.85em;
text-align:left;
font-family: "MyriadPro-Regular", sans-serif;
font-weight:normal;
}
ol.toc_none li.toc1{
margin:0.5em 0 0 0em;
padding:0em;
font-size:0.85em;
text-align:left;
font-family: "MyriadPro-Regular", sans-serif;
font-weight:normal;
}
ol.toc_none li.toc_ch{
margin:0em 0 0 0em;
padding:1em 0 0 0 ;
font-size:0.9em;
text-align:left;
font-family: "MyriadPro-Regular", sans-serif;
font-weight:bold;
}
ol.toc_none li.toc2{
margin:0.5em 0 0 2em;
padding:0em;
font-size:0.9em;
text-align:left;
font-family: "MyriadPro-Regular", sans-serif;
font-weight:bold;
}
ol.toc_none li.toc3{
margin:0.5em 0 0 1em;
padding:0em;
font-size:0.9em;
text-align:left;
font-family: "MyriadPro-Regular", sans-serif;
font-weight:bold;
}
ol.toc_none li.toc4{
margin:0.5em 0 0 0em;
padding:0em;
font-size:0.9em;
text-align:left;
font-family: "MyriadPro-Regular", sans-serif;
font-weight:bold;
}
.chap-out
{
margin:.5em 0em .5em 0em;
text-indent: 0em;
text-align:center;
font-size: 1.3em;
font-weight:bold;
}
ol.toc-nav
{
list-style-type:none;
margin:0em 0em 0em 1em;
padding-left:0em;
text-indent: 0em;
}
.bx-head1
{
margin: 0.5em 0em 0.8em 0em;
padding: 0.3em 0.3em 0.3em 0.5em;
font-size: 1em;
text-indent: 0em;
text-align: left;
font-weight:bold;
background-color: #acadae;
font-family: "MyriadPro-Bold", sans-serif;
}